<p-table [value]="transactions">
    <ng-template pTemplate="header">
        <tr>
            <th>Payer number</th>
            <th>Recipient number</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
        <tr>
            <td>{{transaction.payer}}</td>
            <td>{{transaction.recipient}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.date}}</td>
        </tr>
    </ng-template>
</p-table>